@font-face {
  src: url("../assets/fonts/Euclid-Circular-A-Regular.ttf");
  font-family: "Euclid";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/Euclid-Circular-A-Medium.ttf");
  font-family: "Euclid";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/Euclid-Circular-A-SemiBold.ttf");
  font-family: "Euclid";
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/Euclid-Circular-A-Bold.ttf");
  font-family: "Euclid";
  font-weight: 700;
  font-style: normal;
}
