// Colors

$danger100:#FFF2F2;
$danger200:#FFD6D9;
$danger300:#FFA8B4;
$danger400:#FF708D;
$danger500:#FF3D71;
$danger600:#DB2C66;
$danger700:#B81D5B;
$danger800:#94124E;
$danger900:#700940;

$violet100: #E4DFFE;
$violet200: #C9BFFD;
$violet400: #9585F7;
$violet500: #705DF2;
$violet600: #5343D0;
$violet900: #191174;

$basic100: #ffffff;
$basic200: #F7F9FC;
$basic300: #EDF1F7;
$basic400: #E4E9F2;
$basic500: #C5CEE0;
$basic600: #8F9BB3;
$basic700: #2E3A59;
$basic800: #222B45;
$basic900: #192038;
$basic1000: #151A30;
$basic1100: #101426;


$footer-bg-color: #0D0659;



